{% extends "shop/base.html" %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
<h1>Ваш профиль:</h1>
  <div class="profile-info">
    <h2>Имя:</h2>
    <h3>{{ user.first_name }}</h3>
    <h2>Фамилия:</h2>
    <h3>{{ user.last_name }}</h3>
    <h2>Электронная почта:</h2>
    <h3>{{ user.email }}</h3>
    <br>
    <p class="text-left"><a href="{% url "users:user_edit" %}" class="button">Редактировать</a>
        <a href="{% url "users:password_change" %}" class="button">Сменить пароль</a></p>
    <br>
    <p class="text-left"><a href="{% url "users:logout" %}" class="button light">Выйти</a></p>
  </div>

  <div class="order-info-profile">
    <h2>Ваши заказы:</h2>
      <ul>
        {% for order in orders %}
          <li>
            <a href="{{ order.get_absolute_url }}">Заказ №{{ order.id }} от {{order.get_created_date}}
            на сумму {{ order.get_total_cost }} &#8381</a>
          </li>
        {% empty %}
        <h3>Вы еще не сделали ни одного заказа</h3>
        {% endfor %}
      </ul>
  </div>
{% endblock %}