{% extends "shop/base.html" %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
  <h1>Ваш профиль:</h1>
  <h2><strong>Имя:</strong> {{ user.first_name }}</h2>
  <h2><strong>Фамилия:</strong> {{ user.last_name }}</h2>
  <h2><strong>Электронная почта:</strong> {{ user.email }}</h2>
  <br>
  <h3>Ваши заказы</h3>
    <ul>
      {% for order in users.orders %}
        <li>
          {{ order.id }}
        </li>
      {% endfor %}
    </ul>
  <a href="{% url "users:logout" %}">Выйти</a>.
{% endblock %}