{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
  {% trans 'Ваша корзина' %}
{% endblock %}

{% block content %}
  {% if cart %}
  <h1>{% trans 'Ваша корзина' %}</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>{% trans 'Изображение' %}</th>
        <th>{% trans 'Товар' %}</th>
        <th>{% trans 'Количество' %}</th>
        <th>{% trans 'Удалить' %}</th>
        <th>{% trans 'Цена за единицу' %} </th>
        <th>{% trans 'Цена' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}
                {% else %}{% static "img/no_image.png" %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <input type="submit" value="{% trans 'Обновить' %}">
                {% csrf_token %}
              </form>
            </td>
            <td>
              <form action="{% url "cart:cart_remove" product.id %}" method="post">
                <input type="submit" value="{% trans 'Удалить' %}">
                {% csrf_token %}
              </form>
            </td>
            <td class="num">{{ item.price }} ₽</td>
            <td class="num">{{ item.total_price }} ₽</td>
          </tr>
        {% endwith %}
      {% endfor %}

      {% if cart.coupon %}
        <tr class="subtotal">
          <td>{% trans 'Промежуточный итог' %}</td>
          <td colspan="4"></td>
          <td class="num">{{ cart.get_total_price|floatformat:2 }} ₽</td>
        </tr>
        <tr>
          <td>
            "{{ cart.coupon.code }}" {% trans 'купон' %}
            ({% trans 'скидка' %} {{ cart.coupon.discount }}%)
          </td>
          <td colspan="4"></td>
          <td class="num neg">
            – {{ cart.get_discount|floatformat:2 }} ₽
          </td>
        </tr>
      {% endif %}

      <tr class="total">
        <td>{% trans 'Общая сумма' %}</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price_with_discount|floatformat:2 }} ₽</td>
      </tr>
    </tbody>
  </table>
    {% if recommended_products %}
    <div class="recommendations cart">
      <h3>{% trans 'Рекомендуем Вам также посмотреть:' %}</h3>
      {% for p in recommended_products %}
        <div class="item">
          <a href="{{ p.get_absolute_url }}">
            <img src="{% if p.image %}{{ p.image.url }}{% else %}
            {% static "img/no_image.png" %}{% endif %}">
          </a>
          <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
        </div>
      {% endfor %}
    </div>
    {% endif %}
  <p class="text-right">
    <a href="{% url "shop:product_list" %}" class="button
    light">{% trans 'Продолжить покупки' %}</a>
    <a href="{% url "orders:order_create" %}" class="button">{% trans 'Оформить' %}</a>
  </p>
  <br>
  <form action="{% url "coupons:apply" %}" class='coupon_form' method="post" >
    {{ coupon_apply_form }}
    <input type="submit" value="{% trans 'Применить' %}">
    {% csrf_token %}
  </form>
  {% else %}
   <h1>{% trans 'Ваша корзина пуста' %}</h1>
  <br>
    <p class="text-left">
        <a href="{% url "shop:product_list" %}" class="button">{% trans 'Продолжить покупки' %}</a>
    </p>
  {% endif %}
{% endblock %}