{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Ваша корзина
{% endblock %}

{% block content %}
  {% if cart%}
  <h1>Ваша корзина</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Изображение</th>
        <th>Товар</th>
        <th>Количество</th>
        <th>Удалить</th>
        <th>Цена за единицу</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}
                {% else %}{% static "img/no_image.png" %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <input type="submit" value="Обновить">
                {% csrf_token %}
              </form>
            </td>
            <td>
              <form action="{% url "cart:cart_remove" product.id %}" method="post">
                <input type="submit" value="Удалить">
                {% csrf_token %}
              </form>
            </td>
            <td class="num">{{ item.price }} ₽</td>
            <td class="num">{{ item.total_price }} ₽</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Общая сумма</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price }} ₽</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "shop:product_list" %}" class="button
    light">Продолжить покупки</a>
    <a href="{% url "orders:order_create" %}" class="button">Заказать</a>
  </p>
  {% else %}
   <h1>Ваша корзина пуста</h1>
  <br>
    <p class="text-left">
        <a href="{% url "shop:product_list" %}" class="button
        light">Продолжить покупки</a>
    </p>
  {% endif %}
{% endblock %}