{% extends "shop/base.html" %}
{% load i18n %}

{% block title %}
  {% trans 'Оформление заказа' %}
{% endblock %}

{% block content %}
  <h1>{% trans 'Оформление заказа' %}</h1>
  <div class="order-info">
    <h3>{% trans 'Ваш заказ' %}</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }} x {{ item.product.name }}
          <span>{{ item.total_price }} ₽</span>
        </li>
      {% endfor %}
      {% if cart.coupon %}
        <li>
          "{{ cart.coupon.code }}" ({% trans 'скидка' %} {{ cart.coupon.discount }}%)
          <span class="neg">-{{ cart.get_discount|floatformat:2 }} ₽</span>
        </li>
      {% endif %}
    </ul>
    <p>{% trans 'Всего' %}: {{ cart.get_total_price_with_discount|floatformat:2 }} ₽</p>
  </div>
  <form method="post" class="order-form">
    {{ form.as_p }}
    <p>
      <input type="submit" value="{% trans 'Оформить заказ' %}">
    </p>
    {% csrf_token %}
  </form>
{% endblock %}