{% extends "shop/base.html" %}
{% load static %}

{% block title %}Заказ №{{order.id}}{% endblock %}

{% block content %}
{% if request.user == order.user or request.user.is_staff %}
  <div class="order_detail_info">
    <h1>Заказ №{{order.id}}</h1>
    <h2>Покупатель:</h2>
    <h3>{{ order.user.first_name }} {{ order.user.last_name }}</h3>
    <h2>Электронная почта:</h2>
    <h3>{{ order.user.email }}</h3>
    <h2>Адрес доставки:</h2>
    <h3>{{ order.postal_code }}, г.{{ order.city }}, {{ order.address }}</h3>
    <h2>Дата заказа:</h2>
    <h3>{{ order.get_created_date }}</h3>
    <h2>Статус заказа:</h2>
    <h3>{% if order.paid %}Оплачено{% else %}Не оплачено{% endif %}</h3>
  </div>

  <div class="order_detail_items">
    <h2>Состав заказа:</h2>
    <table class="cart">
        <thead>
          <tr>
            <th>Изображение</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена за единицу</th>
            <th>Цена</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            {% with product=item.product %}
              <tr>
                <td>
                  <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}
                    {% else %} {% static 'img/no_image.png' %} {% endif %}">
                  </a>
                </td>
                <td>{{ product.name }}</td>
                <td class="num">{{ item.quantity }} шт.</td>
                <td class="num">{{ item.price }} ₽</td>
                <td class="num">{{ item.get_cost }} ₽</td>
              </tr>
            {% endwith %}
          {% endfor %}

          {% if order.coupon %}
            <tr class="subtotal">
              <td>Промежуточный итог</td>
              <td colspan="3"></td>
              <td class="num">{{ order.get_total_cost_before_discount|floatformat:2 }} ₽</td>
            </tr>
            <tr>
              <td>
                Купон "{{ order.coupon.code }}"
                (скидка {{ order.discount }}%)
              </td>
              <td colspan="3"></td>
              <td class="num neg">
                – {{ order.get_discount|floatformat:2 }} ₽
              </td>
            </tr>
          {% endif %}

          <tr class="total">
            <td>Общая сумма</td>
            <td colspan="3"></td>
            <td class="num">{{ order.get_total_cost|floatformat:2 }} ₽</td>
          </tr>
        </tbody>
      </table>
  </div>

{% else %}
<div class="order_detail_info">
    <h1>У Вас нет доступа к этому заказу!</h1>
</div>

{% endif %}
{% endblock %}