{% extends "shop/base.html" %}
{% load i18n %}
{% block title %}{% trans 'Войти' %}{% endblock %}

{% block content %}
  <h1>{% trans 'Войти' %}</h1>
  {% if form.errors %}
    <p>
      {% trans 'Ваше имя пользователя или почта и пароль не совпадают. Пожалуйста, попробуйте еще раз' %}
    </p>
  {% else %}
    <p>
      {% trans 'Пожалуйста, используйте следующую форму, чтобы войти.' %}
    </p>
    <p>
      {% trans 'Если у Вас нет аккаунта, Вы можете' %} <a href="{% url "users:register" %}">{% trans 'зарегистрироваться здесь' %}</a>.
    </p>
  {% endif %}
  <p>
      <a href="{% url "users:password_reset" %}">
        {% trans 'Забыли свой пароль?' %}
      </a>
  </p>

  <div class="login-form">
    <form action="{% url 'users:login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="{% trans 'Войти' %}"></p>
    </form>
  </div>


{% endblock %}
