{% extends "shop/base.html" %}
{% load i18n %}
{% block title %}{% trans 'Обновить пароль' %}{% endblock %}

{% block content %}
    <h1>{% trans 'Обновить пароль' %}</h1>
    {% if validlink %}
        <p>{% trans 'Пожалуйста, введите новый пароль дважды' %}</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="{% trans 'Сменить мой пароль' %}"/></p>
        </form>
    {% else %}
        <p>{% trans 'Ссылка для сброса пароля неверна, возможно она уже была использована' %}.</p>
        <p>{% trans 'Пожалуйста запросите сброс пароля еще раз' %}</p>
    {% endif %}
{% endblock %}