{% extends "shop/base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <h1>Войти</h1>
  {% if form.errors %}
    <p>
      Ваше имя пользователя или почта и пароль не совпадают.
      Пожалуйста, попробуйте еще раз
    </p>
  {% else %}
    <p>
      Пожалуйста, используйте следующую форму, чтобы войти.
    </p>
    <p>
      Если у Вас нет аккаунта, Вы можете <a href="{% url "users:register" %}">зарегистрироваться здесь</a>.
    </p>
  {% endif %}
  <p>
      <a href="{% url "password_reset" %}">
        Забыли свой пароль?
      </a>
  </p>

  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Войти"></p>
    </form>
  </div>


{% endblock %}
