{% extends "shop/base.html" %}
{% block title %}Обновить пароль{% endblock %}

{% block content %}
    <h1>Обновить пароль</h1>
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль дважды</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Сменить мой пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля неверна, возможно она уже была использована.</p>
        <p>Пожалуйста запросите сброс пароля еще раз</p>
    {% endif %}
{% endblock %}