{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% trans "Семерочка" %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    {% get_current_language as LANGUAGE_CODE %}
    <a href="/{{LANGUAGE_CODE}}" class="logo"><img src="{% static "img/semerochka.png" %}" height='30px' width='30px'> {% trans "Семерочка" %}</a>
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    <div class="languages">
        <p>{% trans "Язык" %}:</p>
        <ul class="languages">
            {% for language in languages %}
            <li>
                <a href="/{{ language.code }}/"
                    {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                    {{ language.name_local }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="subheader">
    {%if request.user.is_authenticated%}
    <div class="cart">
        {% with total_items=cart|length %}
        {% if total_items > 0 %}
        <a href="{% url "cart:cart_detail" %}">
        {% trans "Ваша корзина:" %}
        {{ total_items }}
        {% if total_items == 1 %}
        {% trans "товар" %}
        {% elif total_items < 5 %}
        {% trans "товара" %}
        {% else %}
        {% trans "товаров" %}
        {% endif %}
        {% trans 'на' %} {{ cart.get_total_price_with_discount }} ₽
        </a>
        {% elif not new_order %}
        <a href="{% url "cart:cart_detail" %}">
        {% trans "Ваша корзина пуста" %}</a>
        {% endif %}
        {% endwith %}
    </div>
    <div class="profile">
        <a href="{% url "users:user_detail" %}">{% trans "Мой профиль" %}</a>
    </div>
    <div class="products-subheader">
        <a href="{% url "shop:product_list" %}">{% trans "Товары" %}</a>
    </div>
    {%endif%}
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>